<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Home</title>
</head>
<body>
    {{>navbar}}

    <div class="container">
        {{{body}}}
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/user.js"></script>
</body>
</html>

